<div class="container" *ngIf="wordsGroups$ | async as wordsGroups">
  <form>
    <div class="dropdown-container">
      <div *ngFor="let wordsGroup of wordsGroups">
        <mat-form-field>
          <mat-label>{{ wordsGroup.label | uppercase }}</mat-label>
          <mat-select (selectionChange)="onSelect($event)">
            <mat-option *ngFor="let word of wordsGroup.words" [value]="word">{{
              word
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </form>

  <div class="sentence-container">
    <mat-form-field>
      <mat-label>Sentence:</mat-label>
      <textarea matInput rows="5" [(ngModel)]="sentence"></textarea>
    </mat-form-field>
    <button
      mat-button
      color="primary"
      [disabled]="sentence.length === 0"
      (click)="onSubmit()"
    >
      Submit
    </button>
  </div>
</div>

<div class="sentence-list-container">
  <h2>Previously Submitted Sentences:</h2>
  <div *ngIf="sentences && sentences.length > 0; else noData">
    <p *ngFor="let sentence of sentences; index as i">
      {{ i + 1 + ') ' + sentence.text }}
    </p>
  </div>

  <ng-template #noData>
    <p>No sentences submitted as yet!</p>
  </ng-template>
</div>
