.dropdown-container {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
  flex-direction: row;
}

.sentence-container {
  width: 100%;
  display: flex;
  /* align-content: center; */
  flex-direction: column;
  align-items: center;
}

mat-form-field {
  width: 90%;
  margin: auto;
  /* place-self: center; */
  display: flex;
}

.sentence-list-container {
  margin: 25px;
}
